*.exe

.vs
obj
Library
bin 

/projects/Knowledge/Unity/Knowledge/Knowledge.sln

/projects/DataBase_Quantum/Unity/Quantum/Assembly-CSharp.csproj
/projects/DataBase_Quantum/Unity/Quantum/Quantum.sln


/projects/DataBase_ComplexNumber/00_TsCompiler
/projects/DataBase_LinearAlgebra/00_TsCompiler
/projects/DataBase_Physics/00_TsCompiler
/projects/Knowledge/Unity/Knowledge
