/projects/ComplexNumber/00_TsCompiler/.bin
/projects/ComplexNumber/00_TsCompiler
/projects/ComplexNumber/03_ObsidianConverter/ObsidianConverter/.vs
/projects/ComplexNumber/03_ObsidianConverter/ObsidianConverter/bin
/projects/ComplexNumber/03_ObsidianConverter/ObsidianConverter/obj
