/projects/ComplexNumber/00_TsCompiler/.bin
/projects/ComplexNumber/00_TsCompiler
/projects/ComplexNumber/03_ObsidianConverter/ObsidianConverter/.vs
/projects/ComplexNumber/03_ObsidianConverter/ObsidianConverter/bin
/projects/ComplexNumber/03_ObsidianConverter/ObsidianConverter/obj
/projects/ComplexNumber/01_TsPacker/@Build/packer.exe
/projects/GraphGame/bin/Release
/projects/GraphGame/obj/Release
/projects/DataBase_Quantum/Unity/Quantum/.vs
/projects/DataBase_Quantum/Unity/Quantum/Library
/projects/DataBase_Quantum/Unity/Quantum/obj
/projects/DataBase_Quantum/Unity/Quantum/Assembly-CSharp.csproj
/projects/DataBase_Quantum/Unity/Quantum/Quantum.sln
/projects/Knowledge/Unity/Knowledge/.vs
/projects/Knowledge/Unity/Knowledge/Library
/projects/Knowledge/Unity/Knowledge/obj
/projects/Knowledge/Unity/Knowledge/Assembly-CSharp.csproj
/projects/Knowledge/Unity/Knowledge/Knowledge.sln
/projects/DataBase_Physics/00_TsCompiler
/projects/DataBase_ComplexNumber/00_TsCompiler
/projects/DataBase_ComplexNumber/03_ObsidianConverter/ObsidianConverter/.vs
/projects/DataBase_ComplexNumber/03_ObsidianConverter/ObsidianConverter/bin
/projects/DataBase_ComplexNumber/03_ObsidianConverter/ObsidianConverter/obj
